.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 전체화면 */
.container{
  width: 393px;
  height: 852px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(204, 204, 204, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 화면 상단부 */
.containerHead{
  width: 100%;
  height: 10%;
  border: 1px solid rgb(0, 255, 55);
  display: flex;
  /* justify-content: center;  align-items: center; */
}

/* 화면 몸통 */
.containerBody{
  width: 100%;
  height: 77%;
  border: 1px solid rgb(4, 142, 255);
}

/* 화면 하단부 */
.containerFoot{
  width: 100%;
  height: 13%;
  border: 1px solid rgb(255, 0, 64);
  display: flex;
  justify-content: center;
  align-items: center;
}