
:root {
	--main-color: #EF7F00;
}

.busModalWin{
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 30px; 
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;
  padding: 1% 0 1% 0;

}
.titleWrap{
  width: 100%;
  height: 20%;
  display:flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: center;
}
.titleArea{
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 5%;
  /* padding-bottom: 2%; */

}
.title{
  font-size: 11pt;
  font-weight: bold;
  color: var(--main-color);
}
.busText{
  font-size: 7pt;
  color: #676767;
  margin-right: 2%;


}
.divLine{
  width: 100%;
  height: 3%;
  border-bottom: 1px solid #D9D9D9;
}

.busInfoWrap{
  width: 100%;
  height: 70%;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  position: relative;

}
.busTitleWrap{
  width: 45%;
  height:3%;
  display:flex;
  flex-direction: column; 
  align-items: flex-end;
  justify-content: center;
  font-size: 8pt;
  font-weight: bold;
  color: #000000;
}
.listScroll{
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  padding: 0 1% 0 1%;
  overflow-y: scroll;
}
.busInfo{
  width: 99%;
  height: 20%;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  margin: 2% 0 2% 1%;

}
/* 스크롤바 설정*/
.listScroll::-webkit-scrollbar{
  width: 10px;
  /* display: none; */
}
/* 스크롤바 막대 설정*/
.listScroll::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 10px; 
  margin: 5px;
}

.busDiv{
  width: 15%;
  height: 90%;
  color: white;
  font-size: 8pt;
}
.busNumber{
  font-size: small;
  font-weight: bold;
  margin: 0 10% 0 5%;
}

.close{
  width: 10%;
  height: 15%;
  background-color: var(--main-color);
  line-height: 1;
  position: relative;
  left: 40px;
  border: none;
  appearance: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  font-weight: bold;
  color: white;
}