
.naviBox{ 
  width: 95%; 
  height: 80px; 
  background-color: rgba(255, 255, 255, 0.5);
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-around; 
  border-radius: 40px; 
  border: 1px solid #EF7F00;
}


.naviImage{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}