* {
  margin: 0%;
  box-sizing: border-box;
}

.root {
  width: 393px;
  height: 852px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 10%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  height: 80%;
}

.mainHeader {
  width: 100%;
  height: 10%;
  background-color: #EF7F00;
  color: white;
  display: flex;
  align-items: flex-end;
}
.mainWrap{
  width: 100%;
  height: 40%;
}
.mainSet{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.mainMain {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #EF7F00;
  display: flex;
}

.mainButton {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid green;
  display: flex;
  justify-content: right;
}

.footer {
  width: 70%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}